@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background-color: black;
}
/* Customize scrollbar */

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

@layer components {
	.bg-glass {
		@apply bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 
		hover:bg-gray-600/10 border border-gray-800 text-white;
	}
}